/*
html{
	background: url('../img/pg_index.jpg') center 0 repeat #ECDFCE;
}
*/


/* LOADER */

.no-js .loader{
	display: none;
}

html.no-js{
	overflow: visible;
}

html{
overflow: hidden;
}

.loader{
	position: fixed;
	background: #000;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	margin: auto;
	z-index: 9999;
}

.loader-animation{
	position: absolute;
	display: inline-block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 200px;
	height: 200px;
	overflow: hidden;
	text-align: center;
	line-height: 200px;
	/*background: #9c0;*/
	font-size: 80px;
	color: #ad520b;
	animation:load 3s linear infinite;
-moz-animation:load 3s linear infinite; /* Firefox */
-webkit-animation:load 3s linear infinite; /* Safari and Chrome */
-o-animation:load 3s linear infinite; /* Opera */
}


@keyframes load
{
0%,100%   {color:red;}
25%  {color:yellow;}
50%  {color:#ad520b;}
75% {color:green;}

}

@-moz-keyframes load /* Firefox */
{
0%,100%   {color:red;}
25%  {color:yellow;}
50%  {color:#ad520b;}
75% {color:green;}
}

@-webkit-keyframes load /* Safari and Chrome */
{
0%,100%   {color:red;}
25%  {color:yellow;}
50%  {color:#ad520b;}
75% {color:green;}
}

@-o-keyframes load /* Opera */
{
0%,100%   {color:red;}
25%  {color:yellow;}
50%  {color:#ad520b;}
75% {color:green;}
}

/* END LOADER */


/*foundation resets*/

.column, .columns{
	padding-right: 1.3em;
	padding-left: 1.3em;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: none;
	border: 1px solid #ebebeb;
	height: 2.1125rem;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus{
	-webkit-box-shadow: inset 0 0 1px #AAA7A7 ;
	-moz-box-shadow: inset 0 0 1px #AAA7A7 ;
	box-shadow: inset 0 0 1px #AAA7A7 ;
	background: none;
}

button, .button{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-transform: uppercase;
	color: #474545;
	background: none;
	border: 1px solid #ddd;
	padding:0.75rem;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin: 0;
}

button:hover, .button:hover{
border-color: #5d5d5d;
background: none;
}

/*END foundation reset*/

html{
	height: 101%;
}

body{
	background: none;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.off-canvas-wrap,.inner-wrap,.main-section,.main-inner{
	height: 100%;
}

.top-nav{
	padding: 8px 0;
	background: #ad520b;
	position: relative;
}

.main-inner{
	-webkit-box-shadow: 0 0 3px #333;
	-moz-box-shadow: 0 0 3px #333;
	box-shadow: 0 0 3px #333;
	background: #fff;
}
/*
.top-nav-links{
	margin-left: 10px;
}
*/
.top-nav-link{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	margin-right: 10px;
	white-space: nowrap;
	margin-bottom: 1px;
	display: block;
		padding: 4px 0;
	float: left;
}

.top-nav-link:last-child{
	margin-right: 0;
}
.top-nav-link.active{
	color: #CACACA;
}

.top-bar-center.js-topBarOpen {
    bottom: 0;
    display: block;
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}

.top-bar-center > span{
	font-size: 21px;
}

.header-links{
	line-height: 1.1;
	/*margin-right: 10px;*/
}

.action-link{
	text-transform: uppercase;
	font-weight: bold;
	padding: 3px 0 1px;
	margin-left: 8%;
	font-size: 12px;
		white-space: nowrap;
}

.action-link span{
	vertical-align: middle;
}

.action-link span[class^="icon-"]{
	font-size: 17px;
	vertical-align: middle;
	margin-right: 3px;
}

.action-link:hover span[class^="icon-"]:before{
	text-shadow: 0 0 2px #5d5d5d;
	color: #fff;
}

.action-link:first-child{
	margin-left: 0;
}

.site-info-wrap{
	background: #fff;
}

.site-phone-wrap, .search-cart-wrap{
	padding: 25px 0
}

.site-phone-number, .order-call{
	display: block;
}

.site-phone-number{
	margin-bottom: 10px;
}

.phone-code{
	font-size: 16px;
	vertical-align: top;
	color: #5d5d5d;
	opacity: 0.8;
	display: inline-block;
	margin-top: 3px;
}

.phone-text{
	font-size: 37px;
	color: #5d5d5d;
	/*font-weight: bold;*/
	vertical-align: top;
	margin-left: 7px;
}


.order-call:before{
background: url("../img/call-order-anime.gif") no-repeat scroll 0 -32px rgba(0, 0, 0, 0);
content: "";
display: inline-block;
height: 28px;
margin-bottom: -4px;
margin-right: 5px;
vertical-align: baseline;
width: 33px;
}

.order-call:hover:before{
	background-position: 0 1px;
}

.order-call{
	text-transform: uppercase;
	font-size: 14px;
	vertical-align: middle;
	color: #8b8989;
	font-weight: bold;
	padding-bottom: 2px;
	display: inline-block;
}

.site-logo-wrap{
	padding: 5px 0;
}
/*
.site-name-link{
	display: inline-block;
	margin-left: -45px;
}*/

.search-input-wrap{
	position: relative;
	overflow: hidden;
	height: 35px;
}

.search-wrap{
	margin-bottom: 15px;
}

.search-submit{
	position: absolute;
	top: 0;
	bottom: 0;
right: 0;
border: none;
font-size: 0;
padding: 5px;
}

.search-submit > .icon-search{
	font-size: 15px;
	color: #9f9f9f;
}

.search-submit:hover > .icon-search:before{
	text-shadow: 0 0 1px #827B7B;
}



