--- 
layout: default 
title: Корзина 
---

<header itemscope itemtype="http://schema.org/Product" itemref="_brand6 _image10" class="product-head clearfix">
	<div class="columns small-24">
		<div class="product-title-wrap text-center">
			<h1 class="product-title">
				<span itemprop="name">Корзина</span>
			</h1>
			<div class="next-prev-product-wrap">
				<a href="" class="next-prev-product-link prev-product">
					<span class="icon-arrow-left4"></span>
					<span class="next-rev-product-link-text">вернутся в магазин</span>
				</a>
			</div>
			<!-- next-repv-product-wrap -->
		</div>
		<!-- product-title-wrap -->
	</div>
	<div class="columns small-centered large-uncentered small-24 text-center">
		<div class="breadcrumbs-wrap"> <a href="#" class="breadcrumb-item breadcrumb-item_link">главная</a>/
			<a href="#" class="breadcrumb-item breadcrumb-item_link">каталог</a>
		</div>
	</div>
</header>
<!-- product-header -->
<section class="product-wrap clearfix">
	<div class="columns large-18 medium-24">
		<div class="row">



			<div class="the-cart-wrap clearfix">
				<div class="the-cart columns clearfix">
					<div class="the-cart-titles clearfix hide-for-small-only">
						<div class="columns medium-8 large-9">
							<span class="cart-title-header">
								изделие
							</span>
						</div>
						<div class="columns medium-4">
							<div>
								<span class="cart-title-header text-center">цена</span>
							</div>
						</div>
						<div class="columns medium-6 large-5">
							<div>
								<span class="cart-title-header text-center">кол-во</span>
							</div>
						</div>
						<div class="columns medium-4 text-center">
							<div>
								<span class="cart-title-header">стоимость</span>
							</div>
						</div>
						<div class="columns medium-2"></div>
					</div>
					<!-- cart-titles -->

{% for i in (1..5) %}

					<div class="cart-line clearfix">
						<div class="columns medium-8 large-9">
							<div class="row">

								<div class="columns medium-centered large-uncentered medium-8">
									<figure class="cart-img-wrap">
										<a href="product.html" class="cart-img-link">
											<img src="img/cart-img.png" alt="" class="centered">
										</a>
									</figure>
								</div>
								<div class="columns large-16 cart-title-part small-text-center large-text-left">
									<h1 class="cart-item-title">
										<a href="product.html" class="cart-item-title-link">Колечко “ВОЛШЕБНое”</a>
									</h1>

									<div class="cart-sku-wrap">
										<span class="cart-sku">артикул: 2999-3</span>
									</div>

								</div>

							</div>
						</div>

						<div class="columns medium-4 text-center">
							<div class="row">
								<div class="columns medium-24 cart-price-part">
									<span class="cart-price">12 999 руб</span>
								</div>
							</div>
						</div>

						<div class="columns medium-6 large-5 text-center">
							<div class="row">
								<div class="columns medium-24 cart-quantity-part">
									<div class="product-quantity  product-quantity-cart clearfix small-only-text-center">
										<span class="quantity-text "></span>
										<div class="quantity-form-wrap ">
											<div class="inc but minus quantity-button">
												<span class="icon-arrow-left4"></span>
											</div>
											<input class="product-quantity-input " type="text" name="quantity" value="1" />
											<div class="dec but plus quantity-button">
												<span class="icon-uniE61B"></span>
											</div>
										</div>
										<!-- quantity-form-wrap -->
									</div>
									<!-- product-quantity -->
								</div>
							</div>
						</div>
						<div class="columns medium-4 text-center">
							<div class="row">
								<div class="columns medium-24 cart-price-part">
									<span class="cart-price">12 999 руб</span>
								</div>
							</div>
						</div>
						<div class="columns large-2 text-center">
									<div class="row">
										<div class="columns medium-24 cart-delete-part text-center">
											<a href="#" class="cart-del">
												<span class="icon-error cart-del-text"></span>
											</a>	
								</div>
							</div>
						</div>
					</div>
{% endfor %}
				</div>
				<!-- the-cart -->
			</div>


			{% include tabs.html %}

		</div>
	</div>{% include right-sidebar-cart.html %}</section>
	<!-- product-wrap -->
	<footer class="simblock clearfix">{% include new-products.html %}</footer>
	<!-- simblock -->
