--- 
layout: default 
title: Корзина 
---

<header itemscope itemtype="http://schema.org/Product" itemref="_brand6 _image10" class="product-head clearfix">
	<div class="columns small-24">
		<div class="product-title-wrap text-center">
			<h1 class="product-title">
				<span itemprop="name">Корзина</span>
			</h1>
			<div class="next-prev-product-wrap">
				<a href="" class="next-prev-product-link prev-product">
					<span class="icon-arrow-left4"></span>
					<span class="next-rev-product-link-text">предыдущая страница</span>
				</a>
			</div>
			<!-- next-repv-product-wrap -->
		</div>
		<!-- product-title-wrap -->
	</div>
	<div class="columns small-centered large-uncentered small-24 text-center">
		<div class="breadcrumbs-wrap"> <a href="#" class="breadcrumb-item breadcrumb-item_link">главная</a>/
			<a href="#" class="breadcrumb-item breadcrumb-item_link">каталог</a>
		</div>
	</div>
</header>
<!-- product-header -->
<section class="product-wrap clearfix">
	<div class="columns large-18 medium-24">
		<div class="row">
		


					<div class="cart-wrap clearfix">
						<div class="the-cart clearfix">
							<div class="the-cart-titles clearfix">
								<div class="columns large-7">изделие</div>
								<div class="columns large-3">цена</div>
								<div class="columns large-3">кол-во </div>
								<div class="columns large-4">стоимость</div>
								<div class="columns large-2"></div>
							</div>
							<!-- cart-titles -->

						<div class="cart-line clearfix">
								<div class="columns large-7">изделие</div>
								<div class="columns large-3">цена</div>
								<div class="columns large-3">кол-во </div>
								<div class="columns large-4">стоимость</div>
								<div class="columns large-2"></div>
						</div>

						</div>
						<!-- the-cart -->
					</div>

          
				{% include tabs.html %}

        </div>
    </div>{% include right-sidebar-cart.html %}</section>
<!-- product-wrap -->
<footer class="simblock clearfix">{% include new-products.html %}</footer>
<!-- simblock -->