---
layout: default
title: Каталог
---

<header  class="product-head clearfix">
	<div class="columns small-24">
		<div class="product-title-wrap text-center">
			<h1 class="product-title">
				<span itemprop="name">кольцa</span>
			</h1>
		</div>
		<!-- product-title-wrap -->
	</div>
	<div class="columns small-centered large-uncentered small-24 text-center">
		<div class="breadcrumbs-wrap"> 
			<a href="#" class="breadcrumb-item breadcrumb-item_link">главная</a>/
			<a href="#" class="breadcrumb-item breadcrumb-item_link">каталог	</a>
			<span class="breadcrumb-item breadcrumb-item_current">кольцa</span>
		</div>
	</div>
</header>
<!-- product-header -->

<section class="catalog-wrap clearfix">
	<div class="columns small-24 ">
		<div class="row">
		<div class="columns small-24  large-18 large-push-6">
			<main class="catalog clearfix">

{% include nav-sort.html %}

				<section class="catalog-grid-wrap clearfix">
					<div class="row">

<div class="columns small-24">
						{% for i in (1..20) %}
						<div class="columns large-6 small-12 medium-8 fd-catalog-grid-item-wrap">
							
<article class="catalog-grid-item">




									<a href="#" class="grid-item-img-link">
										<img src="img/grid-img.png" alt="" class="centered grid-item-img grid-item-img1">
									</a>

									<h1 class="grid-item-title text-center">
										<a href="#" class="grid-item-title-link">подвеска</a>
									</h1>

									<div class="grid-item-sku text-center">
										<span class="grid-item-sku-name">модел: </span>
										<span class="grid-item-sku-value">30235</span>
															</div>
										<div class="grid-item-price-wrap text-center">
											<span class="old-price grid-item-old-price">47896 руб </span>
											<span class="new-price grid-item-new-price">36547 руб</span>
										</div>
				



								</article>

						</div>
						{% endfor %}
						</div>
					</div>
				</section>

				{% include nav-sort.html %}

				{% include catalog-description.html %}

			</main>
		</div>
		<!-- columns for collection-items -->

				{% include left-sidebar.html %}
		</div>
		<!-- row -->
	</div>
</section>
<!-- catalog-wrap -->