<footer  class="product-head clearfix">
	<div class="columns small-24">
		<div class="product-title-wrap text-center">
			<h1 class="product-title">
				<span itemprop="name">кольцa</span>
			</h1>
		</div>
		<!-- product-title-wrap -->
	</div>


	<div class="catalog-description-wrap clearfix">
		<div class="columns large-8">
			<figure class="catalog-img">
				<img src="img/catalog-img.png" alt="">
			</figure>
		</div>
		<div class="columns large-16">
				<div class="editor">
					<p>Свадебные кольца  не только символизируют союза двух сердец, но и могут поведать о характерах 
своих владельцев.  Австралийский психолог Тим Уэнли, изучив более полутора тысяч супружеских пар, 
обнаружил любопытные закономерности: обручальные кольца и манера носить их очевидно соотносится 
с тем, как складывается у этих супругов жизнь. Поинтересуйтесь у Вашей второй половинки, какие кольца 
ей больше импонируют, и узнаете ее характер.<p>

<h3>
	
	Классическое обручальное кольца

</h3>
<p>
	
	Если Ваша любимая (-ый) считает, что следует держаться классики и выбирает обручальное кольцо из 
золота в виде всем известной «полоски», то имейте в виду, что по жизни Вы пойдете с человеком 
надежным, ценящим традиции и на которого всегда можно положиться. Тонкое классическое 
обручальное кольцо шириной от 2 до 5 мм говорит об удовлетворенности партнером, его обладатель 
не склонен искать сексуальных связей на стороне, брак может быть долгим, однако, в будущем 
отношения могут стать рутинными. Массивное обручальное кольцо шириной более 5 мм 
символизирует неуверенность в прочности отношений, надежности партнера, интуитивное 
желание предотвратить будущий разрыв.

</p>
				</div>
		</div>
	</div>


</footer>
<!-- catalog description-footer -->