<div class="footer-menu-wrap clearfix">
	<div class="columns large-11 large-push-7">
		<div class="footer-menu-box clearix">
			<div class="row">
				{% for menu in (1..3) %}


				<div class="columns medium-8">
					<div class="footer-menu-box-inner">

						<h6 class="foot-menu-box-title"> меню</h6>

					</div>
				</div>
				<!-- columns -->

				{% endfor %}
			</div>
			<!-- row -->
		</div>
	</div>
	<div class="columns large-7 large-pull-11">
		<div class="footer-menu-box">
			<div class="row">

				<div class="columns medium-12  small-24 large-24">
					<div class="footer-menu-box-inner footer-menu-box_about">

						<h6 class="foot-menu-box-title">о компании</h6>

					</div>
				</div>
				<!-- columns -->

				<div class="columns medium-12  small-24 large-24">
					<div class="footer-menu-box-inner footer-menu-box_contact">

						<h6 class="foot-menu-box-title">контактная информация</h6>

					</div>
				</div>
				<!-- columns -->

			</div>
		</div>
	</div>
	<div class="columns large-6">
		<div class="footer-menu-box">
			<div class="row">
				<div class="columns medium-12  small-24 large-24">
					<div class="footer-menu-box-inner footer-menu-box_social">

						<h6 class="foot-menu-box-title">присоединяйтесь</h6>

					</div>
				</div>

				<div class="columns medium-12  small-24 large-24">
					<div class="footer-menu-box-inner footer-menu-box_payments">

						<h6 class="foot-menu-box-title">мы принимаем</h6>

					</div>
				</div>
				<!-- columns -->
			</div>
		</div>
	</div>
</div>
<!-- footer-menu-wrap -->
