<div class="info-link-wrap columns small-24 clearfix">

<div class="info-link-inner">

	<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-5">
		<li >
			
			<a href="page.html" class="info-link-link">
			<span class="icon-diamond"></span>
			<span class="info-link-text">собственное производство</span>
		</a>
		</li>



		<li>
				<a href="page.html" class="info-link-link">
			<span class="icon-truck"></span>
			<span class="info-link-text">Бесплатная доставка</span>
		</a>
		</li>

		<li>
				<a href="page.html" class="info-link-link">
			<span class="icon-like"></span>
			<span class="info-link-text">гарантия качества</span>
		</a>
		</li>
		<li>
	
					<a href="page.html" class="info-link-link">
			<span class="icon-banknote"></span>
			<span class="info-link-text">накопительные скидки</span>
		</a>
		</li>

		<li>
				<a href="page.html" class="info-link-link">
			<span class="icon-credit"></span>
			<span class="info-link-text">подарочные карты</span>
		</a>
		</li>

	</ul>

</div>
</div>
<!-- info-link-wrap -->
