<nav class="tab-bar show-for-small">
    <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon">
            <span></span>
        </a>
    </section>
    <section class="middle tab-bar-section">
           <div class="columns centered  text-center">
        <a href="" class="top-bar-center js-topBarOpen">
            <span class="icon-arrow-down4">  </span>
              
        </a>
    </div>
    </section>
    <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon">
            <span></span>
        </a>
    </section>
</nav>
<aside class="left-off-canvas-menu">
    <ul class="off-canvas-list">
        <li>
            <label>Foundation</label>
        </li>
        <li><a href="#">The Psychohistorians</a>
        </li>
        <li><a href="#">...</a>
        </li>
    </ul>
</aside>
<aside class="right-off-canvas-menu">
    <ul class="off-canvas-list">
        <li>
            <label>Users</label>
        </li>
        <li><a href="#">Hari Seldon</a>
        </li>
        <li><a href="#">...</a>
        </li>
    </ul>
</aside>
