<div class="nav-sort-wrap clearifx">
	<div class="row">
		<div class="columns medium-14">
			<div class="sorting-wrap small-only-text-center">

				<label for="productSorting" class="hide-for-medium-only sorting-text hide-for-x-small">Сортировать по</label>
				<select name="" id="productSorting" class="sorting-input">
					<option value="">по цене 01</option>
					<option value="">по цене 02</option>
					<option value="">по цене 03</option>
					<option value="">по цене 04</option>
					<option value="">по цене 05</option>
					<option value="">по цене 06</option>
				</select>
			</div>
		</div>
		<!-- columns for sorting -->
		<div class="columns medium-10">
			<nav class="navigation-wrap medium-text-right small-text-center">
				<a href="#" class="nav-link">
					<span class="nav-link-text icon-arrow-left4"></span>
				</a>
				<a href="#" class="nav-link active">
					<span class="nav-link-text">1</span>
				</a>
				<a href="#" class="nav-link">
					<span class="nav-link-text">2</span>
				</a>
				<a href="#" class="nav-link">
					<span class="nav-link-text">3</span>
				</a>
				<a href="#" class="nav-link">
					<span class="nav-link-text">4</span>
				</a>
				<a href="##" class="nav-link">
					<span class="nav-link-text icon-uniE61B"></span>
				</a>

			</nav>
		</div>
		<!-- columns for pagination (nav) -->
	</div>
</div>
<!-- nav-sort-wrap -->
