<div class="subscribe-wrap clearfix">
	<div class="columns small-24 medium-24 large-16">
		<div class="carousel-mod-title-wrap text-left mod-title-news-box">
			<h4 class="carousel-mod-title">
				новости
			</h4>
		</div>
		<!-- -mod-title-wrap -->
		<div class="row">
			<div class="columns small-24 medium-12">
				<a href="article.html" class="news-block-img-link" style="background:url('http://lorempixel.com/500/300/') center center/cover no-repeat"></a>
			</div>
			<div class="columns small-24 medium-12">
				<h5 class="news-block-item-title">
					<a href="article.html" class="news-block-item-title-link">репортаж на тв от 1 канала</a>
				</h5>
				<p class="news-block-item-descripton">
					Наше производство и магазин осветил в своем выпуске 1й канал. У нас взяли интервью, описали наше производство. Мы поделились серкетами низких цен и великолепного качества наших ювелирных изделий
				</p>
				<div class="news-block-more-wrap">
					<a href="" class="news-block-more-link button small">подробнее</a>
				</div>
			</div>
		</div>
	</div>
	<!-- for news-block -->

	<div class="columns small-24 medium-24 large-8">
			<div class="subscribe-block-wrap">
				<div class="subscribe-block-inner">
					<div class="row">
						<div class="columns small24 medium-12 large-24 ">
							<h1 class="subscribe-block-title large-text-center">подписка</h1>
						</div>
						<div class="columns small24 medium-12 large-24 ">
							<p class="subscribe-block-description text-justify">
								Узнавай первым новости и акции компании
Всем подписавшимся купон на скидку 5%
							</p>
						</div>
						<div class="columns small24 medium-12 large-24">
							<input type="email" name="" id="" class="text-center subscribe-input" placeholer="Введите ваш email">
						</div>
						<div class="columns small24 medium-12 large-24">
							<button class="subscribe-submit button small">отправить</button>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
<!-- subscribe-wrap -->
