<section class="product-tab-wrap clearfix">
	<div class="columns large24">
		<div class="row">
<div class="columns medium-24 small-8">
		<dl class="tabs" data-tab>
			<dd class="active"><a href="#panel2-1">описание</a>
			</dd>
			<dd><a href="#panel2-2">параметры</a>
			</dd>
			<dd><a href="#panel2-3">отзывы</a>
			</dd>
			<dd><a href="#panel2-4">оплата</a>
			</dd>	
			<dd><a href="#panel2-5">доставка/возврат</a>
			</dd>
		</dl>
</div>
<div class="columns medium-24 small-16">
		<div class="tabs-content">
			<div class="content active" id="panel2-1">
				<p>описание...</p>
			</div>
			<div class="content" id="panel2-2">
				<p>параметры...</p>
			</div>
			<div class="content" id="panel2-3">
				<p>отзывы...</p>
			</div>
			<div class="content" id="panel2-4">
				<p>оплата...</p>
			</div>
			<div class="content" id="panel2-5">
				<p>доставка/возврат...</p>
			</div>
		</div>
		</div>

</div>


	</div>
</section>
<!-- product-tab-wrap -->
