<section class="product-tab-wrap clearfix">
	<div class="columns large-24">
		<div class="row">
<div class="columns medium-24 small-24 tab-link-wrap">
		<dl class="tabs" data-tab>
			<dd class="active">
				<a href="#panel2-1" class="tab-link tab-link-description">
				<span class="hide-for-medium-up tab-icon icon-book-open"></span>
				<span class="tab-link-text hide-for-small-only">описание</span>
			</a>
			</dd>
			<dd>
				<a href="#panel2-2" class="tab-link tab-link-properties">
					<span class="hide-for-medium-up tab-icon icon-tools"></span>
					<span class="tab-link-text hide-for-small-only">параметры</span>
				</a>
			</dd>
			<dd>
				<a href="#panel2-3" class="tab-link tav-link-reviews">
					<span class="hide-for-medium-up tab-icon icon-chat"></span>
					<span class="tab-link-text hide-for-small-only">отзывы</span>
				</a>
			</dd>
			<dd>
				<a href="#panel2-4" class="tab-link tab-link-payment">
					<span class="hide-for-medium-up tab-icon icon-wallet"></span>
					<span class="tab-link-text hide-for-small-only">оплата</span>

				</a>
			</dd>	
			<dd>
				<a href="#panel2-5" class="tab-link tab-link-shipping">
					<span class="hide-for-medium-up tab-icon icon-gift"></span>
					<span class="tab-link-text hide-for-small-only">доставка/возврат</span>
				</a>
			</dd>
		</dl>
</div>
<div class="columns medium-24 small-24  tab-content-wrap">
		<div class="tabs-content clearfix">
			<div class="content active  clearfix tab-content clearfix tab-content-description" id="panel2-1">
				<div class="columns small-24">
					<div class= clearfix"tab-content-inner">

					<div class="tab-title-wrap text-center hide">
						<h5 class="tab-title">описание</h5>
					</div>

						Сказания о Средиземье - это хроника Великой войны за Кольцо, войны, длившейся не одну тысячу лет. Тот, кто 
						владел Кольцом, получал власть над всеми живыми тварями, но был обязан служить злу. Тихая деревня, где живут 
						хоббиты.

						Волшебник Гэндальф, придя на 111-й день рождения к своему старому другу Бильбо Бэггинсу, начинает вести 
						разговор о кольце, которое Бильбо нашел много лет назад. Это кольцо принадлежало когда-то темному 
						властителю Средиземья Саурону, и оно дает большую власть своему обладателю.

						Теперь Саурон хочет вернуть себе власть над Средиземьем. Бильбо отдает найденное кольцо своему 
						племяннику Фродо, который пытается научиться справляться с тем страшным могуществом, которое 
						дает ему кольцо…
					</div>
				</div>
			</div>
			<div class="content clearfix tab-content clearfix tab-content-properties" id="panel2-2">
				<div class="columns small-24">
					<div class= clearfix"tab-content-inner">


					<div class="tab-title-wrap text-center hide">
						<h5 class="tab-title">Параметры</h5>
					</div>

						Сказания о Средиземье - это хроника Великой войны за Кольцо, войны, длившейся не одну тысячу лет. Тот, кто 
						владел Кольцом, получал власть над всеми живыми тварями, но был обязан служить злу. Тихая деревня, где живут 
						хоббиты.

						Волшебник Гэндальф, придя на 111-й день рождения к своему старому другу Бильбо Бэггинсу, начинает вести 
						разговор о кольце, которое Бильбо нашел много лет назад. Это кольцо принадлежало когда-то темному 
						властителю Средиземья Саурону, и оно дает большую власть своему обладателю.

						Теперь Саурон хочет вернуть себе власть над Средиземьем. Бильбо отдает найденное кольцо своему 
						племяннику Фродо, который пытается научиться справляться с тем страшным могуществом, которое 
						дает ему кольцо…
					</div>
				</div>
			</div>
			<div class="content clearfix tab-content clearfix tab-content-reviews" id="panel2-3">
				<div class="columns small-24">
					<div class= clearfix"tab-content-inner">


					<div class="tab-title-wrap text-center hide">
						<h5 class="tab-title">отзывы</h5>
					</div>

						Сказания о Средиземье - это хроника Великой войны за Кольцо, войны, длившейся не одну тысячу лет. Тот, кто 
						владел Кольцом, получал власть над всеми живыми тварями, но был обязан служить злу. Тихая деревня, где живут 
						хоббиты.

						Волшебник Гэндальф, придя на 111-й день рождения к своему старому другу Бильбо Бэггинсу, начинает вести 
						разговор о кольце, которое Бильбо нашел много лет назад. Это кольцо принадлежало когда-то темному 
						властителю Средиземья Саурону, и оно дает большую власть своему обладателю.

						Теперь Саурон хочет вернуть себе власть над Средиземьем. Бильбо отдает найденное кольцо своему 
						племяннику Фродо, который пытается научиться справляться с тем страшным могуществом, которое 
						дает ему кольцо…
					</div>
				</div>
			</div>
			<div class="content clearfix tab-content clearfix tab-content-payment" id="panel2-4">
				<div class="columns small-24">
					<div class= clearfix"tab-content-inner">


					<div class="tab-title-wrap text-center hide">
						<h5 class="tab-title">оплата</h5>
					</div>

						Сказания о Средиземье - это хроника Великой войны за Кольцо, войны, длившейся не одну тысячу лет. Тот, кто 
						владел Кольцом, получал власть над всеми живыми тварями, но был обязан служить злу. Тихая деревня, где живут 
						хоббиты.

						Волшебник Гэндальф, придя на 111-й день рождения к своему старому другу Бильбо Бэггинсу, начинает вести 
						разговор о кольце, которое Бильбо нашел много лет назад. Это кольцо принадлежало когда-то темному 
						властителю Средиземья Саурону, и оно дает большую власть своему обладателю.

						Теперь Саурон хочет вернуть себе власть над Средиземьем. Бильбо отдает найденное кольцо своему 
						племяннику Фродо, который пытается научиться справляться с тем страшным могуществом, которое 
						дает ему кольцо…
					</div>
				</div>
			</div>
			<div class="content clearfix tab-content clearfix tab-content-shipping" id="panel2-5">
				<div class="columns small-24">
					<div class= clearfix"tab-content-inner">


					<div class="tab-title-wrap text-center hide">
						<h5 class="tab-title">доставка/возврат</h5>
					</div>


						Сказания о Средиземье - это хроника Великой войны за Кольцо, войны, длившейся не одну тысячу лет. Тот, кто 
						владел Кольцом, получал власть над всеми живыми тварями, но был обязан служить злу. Тихая деревня, где живут 
						хоббиты.

						Волшебник Гэндальф, придя на 111-й день рождения к своему старому другу Бильбо Бэггинсу, начинает вести 
						разговор о кольце, которое Бильбо нашел много лет назад. Это кольцо принадлежало когда-то темному 
						властителю Средиземья Саурону, и оно дает большую власть своему обладателю.

						Теперь Саурон хочет вернуть себе власть над Средиземьем. Бильбо отдает найденное кольцо своему 
						племяннику Фродо, который пытается научиться справляться с тем страшным могуществом, которое 
						дает ему кольцо…
					</div>
				</div>
			</div>
		</div>
		</div>

</div>


	</div>
</section>
<!-- product-tab-wrap -->
