<div class="top-nav clearfix hide-for-small-down">
    <div class="columns small-12 ">
        <nav class="top-nav-links clearfix">
            {% for i in (1..5) %}
            <a href="page.html" class="top-nav-link {% if forloop.index == 3 %}  active {% endif %}">пункт меню</a>
            {% endfor %}
        </nav>
        <!-- top-nav-links -->
    </div>

    <div class="columns small-12 text-right">
        <div class="header-links">

            <a href="wisht.html" class="wish-list-link action-link">
                <span class="icon-heart2 wish-list-icon"></span>
                <span class="wish-list--link-text action-link-text  hide-for-medium-down">избранное</span>
            </a>
            {% if client %}

            <a href="wish.html" class="login-link action-link">
                <span class="icon-list login-icon"></span>
                <span class="login-link-text action-link-text  hide-for-medium-down">заказы</span>
            </a>
            {% else %}
            <a href="wish.html" class="login-link action-link">
                <span class="icon-login login-icon"></span>
                <span class="login-link-text action-link-text hide-for-medium-down">вход</span>
            </a>
            {% endif %}


            <a href="wisht.html" class="registration-link action-link">
              <span class="icon-user registration-icon"></span>
                <span class="registration-list-text action-link-text  hide-for-medium-down">регистрация</span>
            </a>

        </div>
    </div>

    <a href="" class="top-bar-center js-topBarOpen text-center">
        <span class="icon-arrow-down4"></span>

    </a>

</div>
<!-- top-nav -->
