<!DOCTYPE html>
<html data-interchange="[img/pg_index-small.jpg, (default)], [img/pg_index-medium.jpg, (medium)], [img/pg_index.jpg, (large)],">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/foundation.min.css" />
    <link rel="stylesheet" href="http://i.icomoon.io/public/temp/bd83c6339b/perfectgold/style.css">
    <link rel="stylesheet" href="css/cssreset-min.css" />
    <link rel="stylesheet" href="css/nivo-slider.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/editor.css" />
    <script src="js/modernizr.js"></script>


</head>

<body>

  {% include loader.html %}

  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

      {% include mobile-nav.html %}

      <section class="main-section">
       <div class="row main-inner">

      {% include top-nav.html %}

      <div class="site-info-wrap clearfix">
        <div class="columns small-6">
          <div class="site-phone-wrap">
            <a class="site-phone-number">
              <span class="phone-code">495</span><span class="phone-text">767 - 7744</span>
            </a>
            <a href="#" class="order-call js-order-call">
              заказать звонок
            </a>
          </div>
        </div>
        <div class="columns small-10">
          <div class="site-logo-wrap">
            
          </div>
        </div>
        <div class="columns small-6"></div>
      </div>

       
      </div>
    </section>
      <a class="exit-off-canvas"></a>
    </div>
    <!-- inner-wrap -->
  </div>
  <!-- off-canvas-wrap -->

    <script src="js/jquery.min.js"></script>
    <script src="js/slider.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

</body>

</html>
